<div id="Inscription" class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="height:100%; padding-top:20px; padding-bottom:20px;">

    <div style="text-align:center;">
        Inscription
    </div>


    <!--Formulaire d'inscription Simple-->
    <div>
        <div>
            Pseudo <span> {{userInscription.pseudo}}</span>
            <div>
                <input [(ngModel)]="userInscription.pseudo" placeholder="pseudo"/>
            </div>
        </div>
        <div>
            Mot de passe
            <div>
                <input [(ngModel)]="userInscription.mdp1"  type="password" />
            </div>
        </div>
        <div>
            Confirmer mot de passe
            <div>
                <input [(ngModel)]="userInscription.mdp2" type="password" />
            </div>
        </div>
        <button  (click)="SendInscription()" > S'inscrire</button>

    </div>
    <!--FIN Formulaire d'inscription Simple-->



</div>