<div id="Connexion" class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="height:100%;  padding-top:20px; padding-bottom:20px;">

    <div style="text-align:center;">
        Connexion
    </div>

    <!--Formulaire de connexion Simple-->
    <div>
        <div>
            Pseudo <span> {{userConnexion.pseudo}} / {{userConnexion.pwd}}</span>
            <div>
                <input [(ngModel)]="userConnexion.pseudo"  />
            </div>
        </div>
        <div>
            Mot de passe
            <div>
                <input [(ngModel)]="userConnexion.pwd" type="password" />
            </div>
        </div>

        <button (click)="SendConnexion()" > Se connecter</button>

    </div>
    <!--FIN Formulaire de connexion Simple-->



</div>
