<div>
    <div>
        <h4 class="AccueilTitle">Appel ajax limité </h4>
        <div class="SousLigneTitre"> </div>
    </div>

    <div style="text-align:center; padding-top:10px;">
        <div>
            <button (click)="testClick()">  Appel ajax </button>
        </div>
        <span> en appuyant sur ce bouton plus de 5 fois en 3 secondes (paramètre côté serveur) le serveur renvoit une erreur ("too many request" ) </span>

    </div>


</div>












































<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<h2>My Heroes <img src="assets/fraise.png" style="width:20px; height:20px;" /> </h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>-->
